a {
  text-decoration: none;
}

h1 {
  font-weight: 700;
  margin-top: 20px;
  background: linear-gradient(90.13deg, #0d6dfcb7 0.84%, #54accc 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  max-width: 1000px;
}

.countries {
  padding: inherit;
  flex-direction: row;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.375rem;
  padding: auto 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.country {
  color: #0d6efd;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  transition: all .3s ease;
}

.hover-light:hover {
  background-color: #0d6dfc40;
}

.sm-display {
  display: block;
}

.md-display {
  display: none;
}

@media (min-width: 768px) {
  .md-display {
    display: table-cell;
  }

  .sm-display {
    display: none;
  }

  .countries>a:nth-child(odd) {
    border-right: 1px solid rgba(0, 0, 0, 0.125);
  }
}

.navbar-nav {
  flex-direction: row;
  column-gap: 15px;
}

.active {
  font-weight: 700;
}

.about-text {
  font-size: 16px;
  max-width: 40em;
  line-height: 1.6;
  padding: 50px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 10px;
 text-align: justify;
}